# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# Secrets
.env
**/config/broker.env
**/.env

# Logs
**/logs/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Results
**/results/

# Git
*.orig
*.bak
